.profilepage{
    display: flex;
    gap: 8rem;
    background-image:url('D:/sms_frontend/sms_frontend/src/assets/valtech.png');
  background-position: center ;
     background-repeat: no-repeat;
     background-size: cover;
}


.details_profile{
    margin: 100px auto;
    background-color: white;
}