body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F1135638647%2Fphoto%2Fwhite-lines-and-spheres.jpg%3Fb%3D1%26s%3D170667a%26w%3D0%26k%3D20%26c%3DKlFMDLyLj_V_AbGjSXaUxcuIb_7NN1s8cBRPYlfZqhw%3D&tbnid=HiERqni38gSEOM&vet=12ahUKEwjl6uLDrP79AhV8_rsIHfFxAHMQMygGegUIARD1AQ..i&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fbackground-application&docid=wdKCMw_NdRI4PM&w=https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fvectors%2Fapp-background&psig=AOvVaw2T6TphWhNmNPvJ7_kN5X2r&ust=1680083550632000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPjQ95Ct_v0CFQAAAAAdAAAAABAD&h=339&q=background%20for%20app&ved=2ahUKEwjl6uLDrP79AhV8_rsIHfFxAHMQMygGegUIARD1AQ'); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
