.table1{
    border: 1px solid black;
    margin: 50px;
    
   
}

.manager{
    background-image:url('D:/sms_frontend/sms_frontend/src/assets/valtech.png');
  background-position: center ;
     background-repeat: no-repeat;
     background-size: cover;
    display: flex;
    text-align: center;
    /* background: linear-gradient(217deg, rgba(25, 88, 48, 0.8), rgba(140, 247, 140, 0) 70.71%) */


}

.manager_approve{
    width: fit-content;
   
    margin: 10px;
}