.main {
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-top: 90px;
    padding-bottom: 90px;
    
  }
  .admin-main{
    text-align: center;
    justify-content: center;
    display: flex; 
    padding-bottom: 90px;
    flex-direction: column;
    padding-top: 250px;
    padding-left: 750px; 
  }
  .sub-main {
    display: flex;
    justify-content: center;
    height: 550px;
    width: 35%;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    padding-top: 30px;
    border-radius: 60px; 
    background-color: rgb(224, 167, 167);
  }
  .imgs {
      padding-top: 20px;
      justify-content: center;
      display: flex;
    }
  .container-image {
    background-color: rgb(223, 221, 221); 
    border-radius: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 115px;
    width: 115px;
  }
  .profile {
    height: 100px;
    width: 100px;
    border-radius: 130px;
  } 

  
  input{
      width: 300px;
      height: 50px;
      border-radius: 60px;
      box-shadow: inset 0px 0px 25px 0px #f18686;
      border: none;
      outline: none;
      background-color: #fff;
  }

  .name{
      padding-left: 70px;
      font-size: 20px;
  }
  .second-input{
      padding-top: 20px;
  }

  button.btn-list{
    width: 150px;
    height: 50px;
    border-radius: 60px;
    background-color: #479754;
    color: white;
    font-size: 25px;
    border: none;
  }
  button{
      width: 380px;
      height: 50px;
      border-radius: 60px;
      background-color: #478a97;
      color: white;
      font-size: 20px;
      border: none;
  }
  table {
    width: 100%;
    border: 1px solid black;
    border-spacing: 0;
  }
  thead {
    background-color: rgb(202, 199, 199);
    height: 50px;
  }
  
  tbody > tr:nth-child(even) {
    background: #CCC;
  }
  tbody > tr:nth-child(odd) {
    background: #FFF;
  }
  .login-button{
      padding-top: 25px;
  }

  .link1{
      font-size: 20px;
      font-weight: 400;
      display: flex;
      color: rgb(3, 29, 35);
      justify-content: space-between;
      
      
     
  }

  .log{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #f18686;
    border: none;
    outline: none;
    background-color: #fff;
    text-decoration: none;
    line-height: 50px;
    color: white;
  }
   a1{
         flex: 1;
         text-decoration: none;
   }
   a2{
         flex: 2;
         text-decoration: none;

         
   }


   form{
    background-image: url('https://www.google.com/imgres?imgurl=https%3A%2F%2Fmedia.istockphoto.com%2Fid%2F1135638647%2Fphoto%2Fwhite-lines-and-spheres.jpg%3Fb%3D1%26s%3D170667a%26w%3D0%26k%3D20%26c%3DKlFMDLyLj_V_AbGjSXaUxcuIb_7NN1s8cBRPYlfZqhw%3D&tbnid=HiERqni38gSEOM&vet=12ahUKEwjl6uLDrP79AhV8_rsIHfFxAHMQMygGegUIARD1AQ..i&imgrefurl=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fbackground-application&docid=wdKCMw_NdRI4PM&w=https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freepik.com%2Fvectors%2Fapp-background&psig=AOvVaw2T6TphWhNmNPvJ7_kN5X2r&ust=1680083550632000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCPjQ95Ct_v0CFQAAAAAdAAAAABAD&h=339&q=background%20for%20app&ved=2ahUKEwjl6uLDrP79AhV8_rsIHfFxAHMQMygGegUIARD1AQ');

   }